@{
    ViewData["Title"] = "Home Page";
}

<div style="display: grid; justify-content:center">
    <h1>Добро пожаловать в систему!</h1>
    <div class="d-flex justify-content-center" style="gap: 20px;">
        <a class="btn btn-primary" asp-action="Login">Войти</a>
    </div>
</div>
