@{
    ViewData["Title"] = "Авторизация";
}
<h1>@ViewData["Title"]</h1>

<div id="_auth_form">
    <div class="mb-3">
        <label class="form-label is-invalid">Почта</label>
        <input id="email" type="email" class="form-control" placeholder>
    </div>
    <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input id="password" type="password" class="form-control" placeholder>
    </div>
    <button id="_reg_button" class="btn btn-primary">Зарегистрироваться</button>
    <button id="_auth_button" class="btn btn-primary">Авторизоваться</button>
</div>