@{
    ViewData["Title"] = "Посещения";
}
<h1>@ViewData["Title"]</h1>

<div class="container d-flex gap-2 justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="~/img/people.png" class="card-img-top" alt="Личное">
        <div class="card-body">
            <h5 class="card-title">Личное посещение</h5>
            <a href="~/Home/Personal_Visit" class="btn btn-secondary">Отправить</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/img/peoples.png" class="card-img-top" alt="Личное">
        <div class="card-body">
            <h5 class="card-title">Публичное посещение</h5>
            <a href="~/Home/Public_Visit" class="btn btn-secondary">Отправить</a>
        </div>
    </div>
</div>
